parameters:
	ignoreErrors:
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: modules/event_log_track_ui/src/Controller/AdminController.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: modules/event_log_track_ui/src/OverviewForm.php
