/* Tab appearance. */
.toolbar .toolbar-bar .l10n_client_ui-toolbar-tab.toolbar-tab {
  float: right; /* LTR */
}
[dir="rtl"] .toolbar .toolbar-bar .l10n_client_ui-toolbar-tab.toolbar-tab {
  float: left;
}
.toolbar .toolbar-bar .l10n_client_ui-toolbar-tab .toolbar-item {
  margin: 0;
}
[dir="rtl"] .toolbar .toolbar-bar .l10n_client_ui-toolbar-tab .toolbar-item {
  padding-right: 1.3333em;
}
.toolbar .l10n_client_ui-toolbar-tab button.active {
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.25) 20%, transparent 200%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.25) 20%, transparent 200%);
}
.l10n_client_ui-toolbar-tab button:focus {
  outline: thin dotted;
}
.toolbar-bar .toolbar-icon-l10n_client_ui:before {
  background-image: url(../images/translate_icon_bebebe.svg);
}
.toolbar-bar .toolbar-icon-l10n_client_ui:active:before,
.toolbar-bar .toolbar-icon-l10n_client_ui:before {
  background-image: url(../images/translate_icon_ffffff.svg);
}

/* @todo Remove once https://drupal.org/node/1916690 is resolved. */
.toolbar .l10n_client_ui-toolbar-tab.toolbar-tab.hidden {
  display: none;
}

.l10n_client_ui--container {
  display: none;
}
.l10n_client_ui--container .ui-dialog {
  display: block;
}
.l10n_client_ui--source-string,
.l10n_client_ui--translation-string {
  width: 40%;
}
.l10n_client_ui--skip {
  width: 40px;
  text-indent: -200px;
  overflow: hidden;
  background-image: url(../images/remove_595959.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


.l10n_client_ui--save input.button,
.l10n_client_ui--save input.button:hover,
.l10n_client_ui--save input.button:focus,
.l10n_client_ui--save input.button:active,
.l10n_client_ui--save input.button:disabled {
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  box-shadow: none;
  border: none;
  width: 40px;
  border: 0;
}
.l10n_client_ui--save input.button {
  background-image: url(../images/check_bebebe.svg);
}
.l10n_client_ui--save input.button:hover,
.l10n_client_ui--save input.button:focus {
  background-image: url(../images/check_0074bd.svg);
}

.l10n_client_ui--save input.button:disabled,
.l10n_client_ui--save input.button:disabled:hover {
  background-image: url(../images/check_bebebe.svg);
}

.l10n_client_ui--save input.button.saved:disabled,
.l10n_client_ui--save input.button.saved:disabled:hover {
  background-image: url(../images/check_77b259.svg);
}

.l10n_client_ui--container .form-item-type,
.l10n_client_ui--container .form-item-search,
.l10n_client_ui--container .form-item-language,
.l10n_client_ui--container .form-item-stats {
  float: left;
  margin-top: 0;
}
.l10n_client_ui--container .form-item-type {
  clear: left;
}
.l10n_client_ui--container .form-item-search,
.l10n_client_ui--container .form-item-stats {
  padding-left: 15px;
}
.l10n_client_ui--container .form-item-search label {
  visibility: hidden;
}
.l10n_client_ui--container .form-item-search input {
  width: 300px;
}

.l10n_client_ui--stats {
  width: 200px;
  height: 1.5em;
  background-color: #ededed;
}
.l10n_client_ui--stats-done {
  height: 1.5em;
  background-color: darkseagreen;
}
